{% extends 'index.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block cart %} Cart ({{ l }}){% endblock cart %}
{% block content %}

<h1 class="app-title"> No of Products ({{ l }} results)</h1>
<table class="table table-sm">
    <thead>
        <th></th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th>Remove</th>
    </thead>
    {% endblock content %}

    {% block js %}
    <tbody id="app"></tbody>
    <script>
        var products = JSON.parse('{{ cart | tojson | safe}}');
        // console.log(products)
        document.getElementById('app').innerHTML = `
        ${products.map(function (p) {
            return `
        <tr>            
            <td><img src="${p.imgurl}" alt="image" width="50"></td>
            <td>${p.name}</td>
            <td>${p.quantity}</td>
            <td>$${p.price}</td>        
            <td>$${p.subtotal}</td>
            <td><a href="/delete/${p.id}">Remove</a></td>
        </tr>
        `
        }).join('')}    
    <tr>
        <td></td>
        <td>
            <form action="/checkout" method="POST">
                <input type="submit" value="Checkout">
                </form>
                </td>
                <td><a href="/clearcart">Cancel(Clear Cart)</a></td>
                <td></td>
                <td>
                    <h4>Grand Total: ${{total}}</h4>
                    </td>
                    <td></td>
                    </tr>
        `


        function button_click(){
            // console.log('hi')
            var xml = new XMLHttpRequest();
            xml.open("POST","{{url_for('checkcheckout')}}",true); 
            xml.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            
            dataSend= JSON.stringify({   });
            xml.send(dataSend);
            
            xml.onload = function(){
                var dataReply = this.responseText;
                // alert(dataReply)
                // console.log(dataReply)
                if (dataReply == 200){
                    window.location.href = "{{url_for('checkout')}}";
                }else{
                    window.location.href = "{{url_for('error')}}";
                }
            };
        }
    
        
    </script>
    {% endblock js %}