{% extends 'index.html' %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Update</th>
                <th>Remove</th>
            </thead>
            <tbody>
                {% for product in session['Shoppingcart'].items() %}
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}