{% extends 'index.html' %}
{% block css %} {% endblock css %}
{% block title %} {{title}} {% endblock title %}
{% block content %}
<script>
    var seconds = 0;
    function displayseconds(){
        seconds += 1;
        document.getElementById("seconddisplay").innerText="Wait Processing Payment...";
    }    
    function submeter() {
        document.checkout.submit();
    }
    setInterval(displayseconds, 1000);
    function redirectpage(){
        submeter()
    }
    setTimeout('redirectpage()', 2000)

</script>
<h2 id="seconddisplay"></h2>
<form action="/checkout" method="POST" name="checkout"></form>
{% endblock content %}