{% extends 'index.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/checkout.css') }}"> 
{% endblock css %}
{% block title %} {{ title }} {% endblock title %}

{% block content %}
{% block nav %} {% endblock nav %}
<div class="container">
    <form action="/check-card" name="card" method="POST" class="checkout">
        <div class="checkout-header">
            <h1 class="checkout-title">
                Checkout
            </h1>
        </div>
        <p>
            <input type="text" name="name" class="checkout-input checkout-name" placeholder="Your name">
            <input type="number" name="month" class="checkout-input checkout-exp" min="1" max="12" placeholder="MM">
            <input type="number" name="year" class="checkout-input checkout-exp" min="21" max="30" placeholder="YY">
        </p>
        <p>
            <input type="number" name="cardno" class="checkout-input checkout-card" min="" max="" placeholder="4111 1111 1111 1111">
            <input type="text" name="cvv" class="checkout-input checkout-cvc" placeholder="CVV">
        </p>
        <p>
            {% set total = t %}
            Purchase $
            <input type="submit" name="purchase" value="{{ total }}" class="checkout-btn">
        </p>
    </form>
</div>
{% endblock content %}