{% extends 'index.html' %}
{% block css %} {% endblock css %}
{% block title %} {{title}} {% endblock title %}
{% block content %}
<script>
    var seconds = 0;
    function displayseconds(){
        seconds += 1;
        document.getElementById("seconddisplay").innerText="Wait Reviewing your Products...";
    }
    function submeter() {
        document.cart.submit();
    }
    setInterval(displayseconds, 1000);
    function redirectpage(){
        submeter()
    }
    setTimeout('redirectpage()', 4000)
    
</script>
<h2 id="seconddisplay"></h2>
<form action="/cart" method="POST" name="cart"></form>
{% endblock content %}