{% extends 'index.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/checkout.css') }}"> 
{% endblock css %}
{% block title %} {{ title }} {% endblock title %}
{% block bootstrap %} {% endblock bootstrap %}
{% block bootstrapjs %} {% endblock bootstrapjs %}
{% block nav %} {% endblock nav %}
{% block content %}
<div class="container">
    <form action="/check-payment" name="card" method="POST" class="checkout">
        <div class="checkout-header">
            <h1 class="checkout-title">
                Checkout
            </h1>
        </div>
        <p>
            <input type="text" name="name" class="checkout-input checkout-name" placeholder="Your name">
            <input type="number" name="month" class="checkout-input checkout-exp" min="1" max="12" placeholder="MM">
            <input type="number" name="year" class="checkout-input checkout-exp" min="21" max="30" placeholder="YY">
        </p>
        <p>
            <input type="number" name="cardno" class="checkout-input checkout-card" min="" max="" placeholder="4111 1111 1111 1111">
            <input type="text" name="cvv" class="checkout-input checkout-cvc" placeholder="CVV">
        </p>
        <p>
            {% set total = t %}            
            <!-- <input  type="submit" onclick="button_click()" name="purchase" value="Purchase ${{ total }}" class="checkout-btn"> -->
            <button onclick="button_click()" type="submit" class="checkout-btn" name="purchase" value="{{total}}">Purchase ${{ total }}</button>
        </p>
    </form>
</div>
{% endblock content %}

{% block js %} 
<script>
   function button_click(){
            // console.log('hi')
            // alert("hi")
            var xml = new XMLHttpRequest();
            xml.open("POST","{{url_for('checkpayment')}}",true); 
            xml.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            
            dataSend= JSON.stringify({   });
            xml.send(dataSend);
            
            xml.onload = function(){
                var dataReply = this.responseText;
                // console.log(dataReply)
                if (dataReply == 200){
                    // alert(dataReply)
                    window.location.href = "{{url_for('success')}}";
                }else{
                    window.location.href = "{{url_for('error')}}";
                }
            };
        }
</script>
{% endblock js %}