<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block css %} {% endblock css %}
    <style>
        h6{
            font-size: large;
            font-family: 'Courier New', Courier, monospace;
        }
    </style>
    <title>{% block title %} {% endblock title %}</title>      
</head>
<body>
    <nav>
        <a href="/cart">Cart ({{ session['Shoppingcart']|length }})</a>
    </nav>
    {% block content %} {% endblock content %}
</body>

</html>