{% extends 'index.html' %}
{% block title %} {{ title }} {% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/productdetails.css') }}">
{% endblock css %}

{% block content %}
{% endblock content %}
{% block js %}
<div id="app"></div>
<script>
    id = '{{id}}' - 1;
    var products = JSON.parse('{{ products | tojson | safe}}');
    document.getElementById('app').innerHTML = `
    <h1 class="app-title"> No of Products (${products.length} results)</h1>
    <div class="container m-4">
            <h3>${products[id].name}</h3>
            <img width=330 src="${products[id].imgurl}">
            <h6 class="font1 font-size" style="margin:10px">Price: $${products[id].price}</h6>
            <form action="/product" method="post">
                <input name="pid" type="hidden" value="${ products[id].id }">    
                <input name="submitcart" type="submit" value="Add to Cart">
            </form>
        </div>
    `
</script>
{% endblock js %}
